@font-face {
  font-family: myFont;
  src: url(font/COLLENIS.otf);
}

h3 {
  text-align: center;
  color: white;
  font-style: italic;
}

.skill-header {
  text-align: left;
}

.skill-container {
  border: solid white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-bottom: 8px;
}

.gradiant-bg {
  text-align: center;
  font-family: myFont;
  font-size: 82px;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #ffa69e,
    #faf3dd,
    #b8f2e6,
    #aed9e0,
    #5e6472
  );
  background-size: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient 5s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.btn {
  font-family: sans-serif;
  font-size: 18px;
  padding: 100px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn-gradient {
  width: 120px;
  padding: 16px;
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  border: 0;
  color: rgba(var(white));
}

.grad {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #f72585,
    #7209b7,
    #3a0ca3,
    #4361ee,
    #4cc9f0
  );
  background-size: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradi {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #7400b8,
    #5e60ce,
    #4ea8de,
    #64dfdf,
    #80ffdb
  );
  background-size: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: Font;
  src: url(font/PK\ Phrae-Medium.otf);
}

.thaifont {
  font-family: Font;
  color: white;
}

.rounded-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.rounded-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rounded-all {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
